@media screen and (max-width:400px) {

    .nav-container{
        flex-direction: column;
    }

    .banner-container{
        flex-direction: column;
    }

    .grid-container{
        flex-direction: column;
        grid-template-columns: repeat(1 1fr);
    }

    .online-play{
        flex-direction: column;
        grid-template-columns: repeat(1 1fr);
    }
    
}
/* product item style end  */

    
