@media screen and (max-width: 576px){
    .nav-container{
        flex-direction: column;
}

.nav-items-container{
    flex-direction: column;
    justify-content: center;
    margin-left: 400px;

}

.banner-container{
flex-direction: column;


}


/* product item style end  */

    
